 [Unit]
 Description=Observation service
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 Group=pi
 Restart=always
 ExecStart=/usr/bin/python3 /home/pi/Documents/pibirdcamera/deamon/save_movies.py --loglevel 1 --praefix /videos/

 [Install]
 WantedBy=multi-user.target
